name: Build Engine
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: temurin
      - run: mvn -B package -DskipTests
      - uses: actions/upload-artifact@v4
        with:
          name: parity-jar
          path: applications/system/target/classes
